# created by virtualenv automatically
Lib
lib
lib64
bin
local
share
Scripts
pyvenv.cfg
# Python stuff that doesn't need to be on git
__pycache__
# created by Zane for his dev env
.vscode
ava-config.conf
ava-cloud-config.conf
scraps/
# Files that house data will be published seperatly
# c_v_cmds_db.json